### Answer 1

In [50]:
def is_symmetrical(n):
    if type(n) == int:
        res = n
        revs_number = 0
        while(res>0):
            remainder = res%10
            revs_number  = (revs_number * 10)+remainder
            res  = res//10
        if (n == revs_number):
            return True
        else:
            return False
        
    else:
        print('This function only works for integers.')

In [51]:
is_symmetrical(121)

True

In [52]:
is_symmetrical(44444444)

True

In [53]:
is_symmetrical(123457)

False

In [54]:
is_symmetrical(9939)

False

### Answer 2

In [70]:
def multiply_nums(num_st):
    res = 1
    split_num= num_st.split(', ')
    for i in split_num:
        j = int(i)
        res *= j
    return res

In [71]:
multiply_nums("2, 3")

6

In [72]:
multiply_nums("1, 2, 3, 5")

30

In [73]:
multiply_nums("10, -2")

-20

In [75]:
multiply_nums("10, 20, 34, 43, 23, 0")

0

### Answer 3

In [104]:
def square_digits(n):
    try:
        if type(n) == int:
            res = ""
            li_n = str(n)
            for i in li_n:
                j = int(i)
                d = j*j
                c = str(d)
                res += c
        return int(res)
    except:
        print("This function works only for integers")

In [105]:
square_digits(123)

149

In [106]:
square_digits(3212)

9414

In [107]:
square_digits(9119)

811181

In [108]:
square_digits("sadf")

This function works only for integers

### Answer 4

In [112]:
def setify(n):
    res = set(n)
    res1 = list(res)
    return res1

In [113]:
setify([1,3,3,5,5])

[1, 3, 5]

In [115]:
setify([3,3,3,2,1])

[1, 2, 3]

### Answer 5

In [123]:
def mean(n):
    st = str(n)
    le = len(st)
    res = 0
    for i in st:
        j = int(i)
        res += j
    res2  = res//le
    return res2

In [125]:
mean(42)

3

In [126]:
mean(12345)

3

In [127]:
mean(666)

6