## Answer 1

In [1]:
test1 = 'This is a test of emergency test system'
with open('text.txt', 'w') as f:
    f.write(test1)
f.close()

In [7]:
with open('text.txt', 'r') as b:
    for i in b:
        print(i)

This is a test of emergency test system

## Answer 2

In [9]:
test2 = open('text.txt', 'r')
for i in test2:
    print(i)

This is a test of emergency test system

#### As we can see there is not a significance difference between them.

## Answer 3

In [11]:
import csv
row_list = [['title','author','year']
,['The Weirdstone of Brisingamen','Alan Garner',1960],
['Perdido Street Station','China Mi√©ville',2000],
['Thud!','Terry Pratchett',2005],
['The Spellman Files','Lisa Lutz',2007],
['Small Gods','Terry Pratchett',1992]]
with open('books.csv', 'w', newline = '') as file:
    writer = csv.writer(file)
    writer.writerows(row_list)

## Answer 4

In [2]:
import sqlite3
sqlite3.version

'2.6.0'

In [3]:
db = sqlite3.connect('books.db')

In [5]:
cursor = db.cursor()
cursor.execute("""CREATE TABLE BOOKS(title text, author text, year integer)""")
db.commit()

OperationalError: table BOOKS already exists

## Answer 5

In [11]:
db = sqlite3.connect('books.db')

This is what we are looking for..