### Answer 1


The essential difference is the presence of the index: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.

In [4]:
# To convert numpy array into pandas dataframe we can use this method.
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(1000, 4), columns = ['a','b','c','d'])

In [6]:
df

            a         b         c         d
0    0.424548  1.215504 -0.319773  0.965904
1    1.564406 -0.400115 -0.142689  1.148930
2    0.258605 -0.254315  1.079605 -0.056868
3   -0.745317  1.020861 -0.003288  0.528578
4   -1.247818 -1.029523  1.263105 -0.371355
..        ...       ...       ...       ...
995 -0.123213 -0.044471 -0.534333 -0.547322
996 -0.267189 -0.126387 -0.605157 -0.163048
997 -0.675428  0.477880 -0.459564 -0.084622
998 -0.744657  2.174893  0.460864 -0.284825
999  0.084590 -0.349825 -0.255829  0.161401

[1000 rows x 4 columns]

In [8]:
df1 = pd.DataFrame(np.random.rand(10,2), columns= ['a','b'])
df1

          a         b
0  0.311585  0.522371
1  0.458467  0.369039
2  0.525998  0.018768
3  0.286027  0.769764
4  0.539018  0.065271
5  0.750562  0.544287
6  0.116618  0.843543
7  0.014041  0.432803
8  0.433460  0.974000
9  0.011140  0.507954

### Answer 2

When the ticker symbol of a publicly traded company changes, it generally ... out more about why symbols may change and what you need to do if it does.

### Answer 3

- Chart Colors
- Background Colors: In general, chart backgrounds are best kept to neutral colors; white, gray, and black work well. Bright or neon colors may become intolerable over even a short period of time and can make chart indicators harder to see.
    
- Price Bar and Indicator Colors
- Special Color Considerations
- Layout

### Answer 4

- Legends helps to identify which line or graph showing which property and helps to understandibility of the chart or graph.

### Answer 5

- By applyig some loop which will work accordingly.

### Answer 6