### Answer 1

In [12]:
def next_in_line(li, a):
    if len(li) != 0:
        li.append(a)
        return li[1:]
    else:
        return "No list has been selected!"

In [13]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [14]:
next_in_line([], 2)

'No list has been selected!'

### Answer 2

In [31]:
def get_budget(dic):
    res = 0
    for i in dic:
        for k,v in i.items():
            if k == 'budget':
                res += v
    return res

In [32]:
dic = [
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]

In [33]:
get_budget(dic)

65700

In [35]:
get_budget([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
])

62600

### Answer 3

In [38]:

from functools import reduce
  
def aplhabet_soup(str):
    return reduce(lambda a, b : a + b, sorted(str))

In [42]:
str = "hello"
print(alphabet_soup(str))

ehllo

In [43]:
print(alphabet_soup("hacker"))

acehkr

### Answer 4

In [47]:
def compound_intrest(p, t, r,n):
    a = p*((1+r/n)**t)
    return round(a,2)

In [49]:
compound_intrest(10000, 10, 0.6,12)

16288.95

### Answer 5

In [50]:
def returns_only_integers(li):
    n = []
    for i in li:
        if type(i) == int:
            n.append(i)
    return n

In [52]:
returns_only_integers([9, 2, "space", "car", "lion", 16])

[9, 2, 16]