In [5]:
class dataCleaner:
    import pandas as pd
    def __init__(self, data_path):
        self.data_path = data_path
        self.df = self.pd.read_csv(self.data_path)
    def printhead(self):
        return self.df
    def checknull(self):
        li = []
        s = self.df.isnull().sum()

        for i in s:
            if i !=0:
                li.append(i)
                #self.df[i] = self.df[i].fillna(df[i].mean())
            else:
                pass
        s = len(li)
        if s == 0:
            print('No Null values.')
        else:
            print(s, ' Column has null values. The cleaning will be done by averaging only. In future version it will upgraded. ')
        return
    def cleaning(self):
        pass

In [6]:
d = dataCleaner('Admission_Prediction.csv')
d.checknull()

3  Column has null values. The cleaning will be done by averaging only. In future version it will upgraded.

In [8]:
import pandas as pd
df1  = pd.read_csv('Admission_Prediction.csv')
df1.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [32]:
a = checkfornullvalue(df1)
a

NameError: name 'checkfornullvalue' is not defined