In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('Admission_Prediction.csv')

In [3]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [4]:
x = df.iloc[:, :-1]

In [5]:
y = df.iloc[:, -1]

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test ,y_train ,y_test = train_test_split(x,y, test_size=0.25, random_state = 355)

In [7]:
from sklearn.svm import SVR

In [8]:
df.isnull().sum()

Serial No.            0
GRE Score            15
TOEFL Score          10
University Rating    15
SOP                   0
LOR                   0
CGPA                  0
Research              0
Chance of Admit       0
dtype: int64

In [9]:
df['GRE Score'] = df['GRE Score'].fillna(df['GRE Score'].mean())
df['TOEFL Score'] = df['TOEFL Score'].fillna(df['TOEFL Score'].mean())

In [12]:
df['University Rating'].fillna(df['University Rating'].mean(),inplace=True)

In [13]:
df['University Rating'].isnull().sum()

0

In [14]:
df['University Rating'].mode()

0    3.0
dtype: float64

In [15]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.00000,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.00000,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,316.53719,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.00000,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.00000,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
494,495,301.00000,99.0,3.0,2.5,2.0,8.45,1,0.68
495,496,332.00000,108.0,5.0,4.5,4.0,9.02,1,0.87
496,497,337.00000,117.0,5.0,5.0,5.0,9.87,1,0.96
497,498,330.00000,120.0,5.0,4.5,5.0,9.56,1,0.93
498,499,312.00000,103.0,4.0,4.0,5.0,8.43,0,0.73

In [16]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [17]:

svr = SVR()
svr.fit(x_train ,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         499 non-null    int64
 1   GRE Score          499 non-null    float64
 2   TOEFL Score        499 non-null    float64
 3   University Rating  499 non-null    float64
 4   SOP                499 non-null    float64
 5   LOR                499 non-null    float64
 6   CGPA               499 non-null    float64
 7   Research           499 non-null    int64
 8   Chance of Admit    499 non-null    float64
dtypes: float64(7), int64(2)
memory usage: 35.2 KB