In [1]:
def add(x,y):
    pass

In [2]:
def add(x,y):
    print(x+y)
add(3,2)

5

In [3]:
type(add(3,9))

12

NoneType

In [4]:
def add(x, y):
    return x,y

In [5]:
type(add(8,9))

tuple

In [16]:
def test3(x,y,z):
    return x*10, y*40 ,z*x

In [17]:
test3(2,7)

TypeError: test3() missing 1 required positional argument: 'z'

In [18]:
test3(1,2,3)

(10, 80, 3)

In [20]:
c,x,v = test3(2,3,1)
c

20

In [21]:
x

120

In [22]:
v

2

In [23]:
c, x, _ = test3(2,7)

TypeError: test3() missing 1 required positional argument: 'z'

In [24]:
# where we have multiple return type
# when we have multiple return typec
c, x , _ = test3(1,2,3)
_

3

In [25]:
def test():
    print("this is a string")
test()

this is a string

In [26]:
m = test()

this is a string

In [27]:
m + "fasdf"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [28]:
def test7():
    return "this is my first class"

In [30]:
m  = test7()
m + 'alsdfj'

'this is my first classalsdfj'

In [31]:
def test8(n):
    return n*2

In [33]:
test8([1,2,3,4,5])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [34]:
test8(23)

46

In [35]:
def test9(n):
    return n, n*7

In [36]:
test9([4,3, 8 ,32])

([4, 3, 8, 32],
 [4,
  3,
  8,
  32,
  4,
  3,
  8,
  32,
  4,
  3,
  8,
  32,
  4,
  3,
  8,
  32,
  4,
  3,
  8,
  32,
  4,
  3,
  8,
  32,
  4,
  3,
  8,
  32])

In [37]:
b = test9([4,5,6,7,8])
b[0]

[4, 5, 6, 7, 8]

In [39]:
# python function and datatypes in other language

In [40]:
def test10(n, m = 90):
    return n +m

In [44]:
a = test10(99,)

In [45]:
type(a)

int

In [46]:
# we can also overright
test10(1,2)

3

In [49]:
def boolx(x = True, y = False):
    """this is very useful function"""
    return x+y

In [51]:
boolx()

1

In [54]:
def travel(bike = True, car = False):
    plan_travel = bike or car
    return bike , car, plan_travel

In [55]:
travel()

(True, False, True)

In [56]:
travel(car = True)

(True, True, True)

In [57]:
travel(_, True)

(3, True, 3)

In [61]:
# i want my function to consume multiple data, to able to do this we can follow this rule
def test11(*args):
    return args

In [62]:
test11('sanjeev', 34, 2343,234, 2.3, [1,2,3,4,5])

('sanjeev', 34, 2343, 234, 2.3, [1, 2, 3, 4, 5])

In [63]:
def listfunction(*args):
    ma = []
    for i in args:
        if type(i) == list:
            ma.append(i)
    return ma

In [64]:
listfunction([1,2,3,4,5], [2,3,4,5,6], [3242, 83423, 32])

[[1, 2, 3, 4, 5], [2, 3, 4, 5, 6], [3242, 83423, 32]]

In [65]:
def listfunction14(*args):
    return [i for i in args]

In [66]:
listfunction14([1,2,3,4,5],[0.1,0.2,0.3,0.4,0.5])

[[1, 2, 3, 4, 5], [0.1, 0.2, 0.3, 0.4, 0.5]]

In [69]:
# fucntion 1
def mixed_data(*args):
    int_data = []
    str_data = []
    list_data = []
    bool_data = []
    dict_data = []
    tuple_data  = []
    for i in args:
        if type(i) == int:
            int_data.append(i)
        elif type(i) == str:
            str_data.append(i)
        elif type(i) == list:
            list_data.append(i)
        elif type(i) == bool:
            bool_data.append(i)
        elif type(i) == dict:
            bool_data.append(i)
        else:
            tuple_data.append(i)
    return int_data, str_data, list_data, bool_data, dict_data, tuple_data

In [71]:
# function 2
def argswithkwargs(*args, **kwargs):
    li = []
    for i in args:
        for j in kwargs:
            if type(i) == 'list':
                if type(j) == 'list':
                    li.append(i)
                    li.append(j)
    return li

In [72]:
def func2(*ars, **kwargs):
    i = [i for i in args if type(i) == list]
    j = [i[1] for i in kwargs.items() if type(i) == list]
    return i,j

In [10]:
def dynamic(*args):
    for i in args:
        inp = []
        inp.append(type(i))
    return inp

In [12]:
dynamic(1,2,3,4,5)

[int]

In [7]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1]) == list:
            if 'sanjeev' in i[1]:
                print("i am able to find your data in the input list")
                print(i[1])
    return kwargs

In [9]:
test18(b = 6, c = [4,5,6,7], d = ['sanjeev' ,'kumar', 1998], n = 6+8j)

i am able to find your data in the input list
['sanjeev', 'kumar', 1998]

{'b': 6, 'c': [4, 5, 6, 7], 'd': ['sanjeev', 'kumar', 1998], 'n': (6+8j)}

In [13]:
d = {'b':6, 'c':[4,5,6,7]}

In [ ]:
def func1(*args):
    dt = {}
    for i in args:
        if type(i) in dt: