In [3]:
li = ["sanjeev", 23,'ram', 'sonal', [1,2,3,4,5], True]
for i in li:
    print(i)

sanjeev
23
ram
sonal
[1, 2, 3, 4, 5]
True

In [4]:
print(li[::-1])

[True, [1, 2, 3, 4, 5], 'sonal', 'ram', 23, 'sanjeev']

In [6]:
for i in li:
    if type(i) == int:
        print("this is a number", i)
    else:
        print("this element is not a number", i)

this element is not a number sanjeev
this is a number 23
this element is not a number ram
this element is not a number sonal
this element is not a number [1, 2, 3, 4, 5]
this element is not a number True

In [8]:
l = [1234, 98343, 'sanjeev']
k = l + li
k

[1234, 98343, 'sanjeev', 'sanjeev', 23, 'ram', 'sonal', [1, 2, 3, 4, 5], True]

In [10]:
k *1

[1234, 98343, 'sanjeev', 'sanjeev', 23, 'ram', 'sonal', [1, 2, 3, 4, 5], True]

In [11]:
len(k)

9

In [12]:
1234 in k

True

In [13]:
5 in k

False

In [15]:
max(k)

TypeError: '>' not supported between instances of 'str' and 'int'

In [16]:
docs(list)

NameError: name 'docs' is not defined

In [19]:
max("sanjeev', 'ineuron", "data ", "science")

'science'

In [20]:
# if we try to take the combination of integer and strings the max fucntion will never gonna work.

In [21]:
min([1,2,3,4,5])

1

In [22]:
min([0, 343834, 928374, -238493984])

-238493984

In [26]:
# same as max function min function will also not working properly in min function
min([1,2,'3', 4, '5'])

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
# extent always accept iterable object
p  = [1,2,3,4,5]
p.extend([6,7,8,9])
p

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
s = "list"
list(s)

['l', 'i', 's', 't']

In [30]:
p.index(2)

1

In [31]:
p.pop()

9

In [32]:
p

[1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
k = [23, 343, 332, 3832, 32]
k.remove(343)

In [35]:
k

[23, 332, 3832, 32]

In [36]:
k.sort()

In [37]:
k

[23, 32, 332, 3832]

In [39]:
k.extend(['sanjeev' ,23, 'kumar'])
k.sort()
# sort will also not work between str and integer sets.

TypeError: '<' not supported between instances of 'str' and 'int'

### append two more lists and one complex number in the list in between  a existing list

In [2]:
j = [[43, 23 ,43, 'russia'], ['ram', 'shyam', 34, 23,'sita'], ['spain', 'bala', 1.2, 83.4, -32], ['hi', 'bye', 'ciao']]
j.insert(2, ['hi', 'how', 'are', 232, 'you'])
j.insert(3, ['i', 'am', 'fine', 'how ',  32 ,'rashmi'])
j.append(8+6j)
print(j)

[[43, 23, 43, 'russia'], ['ram', 'shyam', 34, 23, 'sita'], ['hi', 'how', 'are', 232, 'you'], ['i', 'am', 'fine', 'how ', 32, 'rashmi'], ['spain', 'bala', 1.2, 83.4, -32], ['hi', 'bye', 'ciao'], (8+6j)]

In [5]:
for i in j:
    if type(i) == list:
        for k in i:
            if type(j) == str:
                print(j)

In [6]:
## Extracting second element of each nested list
print(j)

[[43, 23, 43, 'russia'], ['ram', 'shyam', 34, 23, 'sita'], ['hi', 'how', 'are', 232, 'you'], ['i', 'am', 'fine', 'how ', 32, 'rashmi'], ['spain', 'bala', 1.2, 83.4, -32], ['hi', 'bye', 'ciao'], (8+6j)]

In [16]:
for i in j:
    if type(i) == list:
        for l in i:
            print(i)

[43, 23, 43, 'russia']
[43, 23, 43, 'russia']
[43, 23, 43, 'russia']
[43, 23, 43, 'russia']
['ram', 'shyam', 34, 23, 'sita']
['ram', 'shyam', 34, 23, 'sita']
['ram', 'shyam', 34, 23, 'sita']
['ram', 'shyam', 34, 23, 'sita']
['ram', 'shyam', 34, 23, 'sita']
['hi', 'how', 'are', 232, 'you']
['hi', 'how', 'are', 232, 'you']
['hi', 'how', 'are', 232, 'you']
['hi', 'how', 'are', 232, 'you']
['hi', 'how', 'are', 232, 'you']
['i', 'am', 'fine', 'how ', 32, 'rashmi']
['i', 'am', 'fine', 'how ', 32, 'rashmi']
['i', 'am', 'fine', 'how ', 32, 'rashmi']
['i', 'am', 'fine', 'how ', 32, 'rashmi']
['i', 'am', 'fine', 'how ', 32, 'rashmi']
['i', 'am', 'fine', 'how ', 32, 'rashmi']
['spain', 'bala', 1.2, 83.4, -32]
['spain', 'bala', 1.2, 83.4, -32]
['spain', 'bala', 1.2, 83.4, -32]
['spain', 'bala', 1.2, 83.4, -32]
['spain', 'bala', 1.2, 83.4, -32]
['hi', 'bye', 'ciao']
['hi', 'bye', 'ciao']
['hi', 'bye', 'ciao']

In [1]:
lr = [[1,2,3],
    [11, 12, 'b', 'b', 'b'],
    [21, 't', 223], 
    [4,5,6], 
    'demo',
    12.5]

In [2]:
lr.insert(2, ['ramu', 'sad', 343])
lr.insert(4, [234, 234, 'fa'])
print(lr)

[[1, 2, 3], [11, 12, 'b', 'b', 'b'], ['ramu', 'sad', 343], [21, 't', 223], [234, 234, 'fa'], [4, 5, 6], 'demo', 12.5]

In [4]:
for i in lr:
    if type(i) == list:
        count = 0
        while count <len(i):
            if type(i[count]) is str:
                print("the index of string {} is" .format(i[count]), count)
            count += 1
        count = 0
        while count <len(i):
            if type(i[count]) is str:
                print("the string in the nested list is {} " .format(i[count]))
                i.remove(i[count])
                continue
            count += 1
            
print("list after removal of string from the nested list is\r ", lr, '\t')

the index of string b is 2
the index of string b is 3
the index of string b is 4
the string in the nested list is b
the string in the nested list is b
the string in the nested list is b
the index of string ramu is 0
the index of string sad is 1
the string in the nested list is ramu
the string in the nested list is sad
the index of string t is 1
the string in the nested list is t
the index of string fa is 2
the string in the nested list is fa
  [[1, 2, 3], [11, 12], [343], [21, 223], [234, 234], [4, 5, 6], 'demo', 12.5]

In [3]:
# same code by myself
for i in lr:
    if type(i) == list:
        c = 0
        while c < len(i):
            if type(i[c]) is str:
                print("the string {} is at index".format(i[c]), c)
                
                print("the string {} is going to be deleted".format(i[c]))
                i.remove(i[c])
                continue
                
            c += 1
print("after removing all strings from a nested list the finally list is {}".format(lr))

the string b is at index 2
the string b is going to be deleted
the string b is at index 2
the string b is going to be deleted
the string b is at index 2
the string b is going to be deleted
the string ramu is at index 0
the string ramu is going to be deleted
the string sad is at index 0
the string sad is going to be deleted
the string t is at index 1
the string t is going to be deleted
the string fa is at index 2
the string fa is going to be deleted
after removing all strings from a nested list the finally list is [[1, 2, 3], [11, 12], [343], [21, 223], [234, 234], [4, 5, 6], 'demo', 12.5]

## list comprehension

In [7]:
[[i]*2 for i in 'sanjeev']

[['s', 's'],
 ['a', 'a'],
 ['n', 'n'],
 ['j', 'j'],
 ['e', 'e'],
 ['e', 'e'],
 ['v', 'v']]

In [8]:
[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

In [10]:
[i for i in range(12) if i%2 != 0]

[1, 3, 5, 7, 9, 11]

In [12]:
['odd' if i%2 != 0 else 'even' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [15]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [16]:
[[j for j in range(3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [18]:
[i for i in range(8) if i %2 == 0 if i%3 == 0]

[0, 6]

In [19]:
for i in range(8):
    if i%2 == 0:
        if i%3 == 0:
            print(i)

0
6

In [20]:
l = [1,2,3,4,5,6,7,8,9]

['yes' if i == 1 else 'no' if i == 2 else 'test' for i in l]

['yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']